* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Century Gothic';
}

html {
  width : 100vw;
  height: 100vh;
}

.card {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  width          : 400px;
  height         : 360px;
  border-radius  : 30px;
  box-shadow     : 0px 0px 10px 10px rgba(0, 0, 0, 0.7);
  margin         : 140px auto;
  padding        : 0;
  transition     : 0.4s all;
}

.card>.buttons {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 400px;
  height         : 50px;
  margin         : 30px 0;
}

.card>.buttons>button {
  padding      : 10px;
  height       : 40px;
  margin       : 0 50px;
  border       : 1px solid #1E1E1E;
  outline      : none;
  border-radius: 10px;
  font-weight  : 600;
  transition   : 0.4s all;
}

.card>.buttons>button:hover {
  cursor: pointer;
}

.card>.changingButton {
  height       : 40px;
  padding      : 10px;
  border       : 1px solid #1E1E1E;
  border-radius: 10px;
  outline      : none;
  font-weight  : 600;
  transition   : 0.4s all;
}

.card>.changingButton:hover {
  cursor: pointer;
}

.light {
  background-color: #fff;
  color           : #1E1E1E;
}

.dark {
  background-color: #1E1E1E;
  color           : #fff;
}

@media screen and (max-width: 600px) {
  .card {
    width  : 350px;
  }
}